body {
    margin: 0;
}

header {
    color: #fff;
    padding: 10px;
    background-color: #B7CFDC;
    display: flex;
    justify-content: space-between;
}

main {
    padding: 10px;
    color: #B7CFDC;
}

h1{
    margin-top: 18px;
}

ul.navbar-ul{
    margin: 0;
}

ul.navbar-ul>li>a{
    list-style: none;
    margin-top: 18px;
}

.page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-item{
    font-size: 16px;
    text-decoration: none;
}

.nav-item>a{
    text-decoration: none;
}

.nav-list-item{
    list-style-type: none;
    display: inline-block;
    list-style: none;
    margin: 15px 5px;
}

#mobile-navbar{
    margin-top: 18px;
    display: block;
    font-size: 25px;
}

.header-navbar{
    display: none;
}

footer{
    bottom: 0;
    background-color: #385E72;
    padding: 10px;
    color: #fff;
}

footer>h3{
    text-align: center;
}

footer>div.social-info{
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-width: 576px)
{
    .page-container{
        margin: 0 auto;
    }

    header, main {
        padding: 0 10%;
    }

    footer{
        padding: 20px 10% 35px 10%;
    }

    .header-navbar{
        display: block;
    }

    #mobile-navbar{
        display: none;
    }
}
